
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>
<div>
    @Html.ActionLink("List of People", "Index", "People")<br />
    @Html.ActionLink("List of Addresses", "Index", "Addresses")<br/>
    
</div>

